@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.header {
  margin-bottom: 30px;
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
}
.header-logo img {
  width: 200px;
  object-fit: cover;
}
.header-logo--box {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}
.header-logo--position__accueil {
  position: relative;
}
.header-logo--position__menu {
  margin-right: 50px;
}

.header-search {
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
}
.header-search--form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header-search--bar {
  width: 200px;
  height: 30px;
  background-color: #e9e9e9;
  border-color: transparent;
}

.header-search--icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::placeholder {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

.header-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}
.header-info--border {
  padding: 40px 50px;
}

.header__text {
  margin-bottom: 20px;
}
.header__text h1, .header__text p {
  margin-top: 0;
  margin-bottom: 10px;
}
.header__text h1 {
  font-size: 24px;
  padding-left: 30px;
  padding-right: 30px;
}
.header__text p {
  font-size: 18px;
}

@media only screen and (min-width: 993px) {
  .header-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.box__title {
  margin-left: 30px;
  margin-bottom: 30px;
  padding-top: 50px;
}
.box__title h2 {
  margin: 0;
}
@media only screen and (min-width: 768px) {
  .box__title {
    text-align: center;
    margin-left: 0px;
  }
}

.main__container__instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 993px) {
  .main__container__instructions {
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }
}

.num__fonctionnement {
  margin-left: -10px;
  margin-right: 20px;
  color: white;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon__fonctionnement {
  margin-right: 20px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instru_fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.header-accueil--menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-accueil--menu__icon {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #373737;
  height: 200px;
}
@media only screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: center;
  }
}

.footer__container {
  margin-left: 30px;
}
.footer__container .footer__title, .footer__container .footer__links {
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
  }
  .footer__container .footer__links {
    display: flex;
    justify-content: space-between;
    width: 600px;
  }
}

.footer__links {
  padding-bottom: 30px;
}
.footer__links a {
  text-decoration: none;
}
.footer__links i, .footer__links a {
  color: rgb(255, 255, 255);
}
.footer__links--flex {
  display: flex;
  align-items: center;
}
.footer__links--margin {
  margin-bottom: 5px;
}

.footer-icon {
  width: 25px;
}

.footer__title h2 {
  font-family: Shrikhand;
  color: white;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

.loader {
  width: 100%;
  height: 100vh;
  background-color: rgba(196, 126, 199, 0.8);
  backdrop-filter: blur(15px);
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: finishLoader 1s ease-in-out forwards;
  animation-delay: 3s;
}

@keyframes finishLoader {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.container-light--box {
  width: 250px;
  height: 250px;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  position: relative;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-light--box::before, .container-light--box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #00FFFF, #EAADEA, #FF1CAE, #70DBDB, #ADEAEA, #007FFF, #00FF00, #00FF7F, #7FFF00);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: 500%;
  z-index: -1;
  transform: scale(1.02);
  animation: animate 20s infinite;
}

.container-light--box::after {
  filter: blur(20px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.slogan-ohmyfood h1, .slogan-loading h1 {
  font-family: "Shrikhand", cursive;
  color: white;
  font-weight: normal;
  text-align: center;
}

.slogan-ohmyfood h1 {
  font-size: 38px;
}

.slogan-loading h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 26px;
}

.dots-loader {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.dot-loader {
  width: 18px;
  height: 18px;
  background-color: #fff;
  border-radius: 50%;
}
.dot-loader--1 {
  animation: pulse1 400ms infinite ease alternate;
}
.dot-loader--2 {
  animation: pulse2 700ms infinite ease alternate;
}
.dot-loader--3 {
  animation: pulse3 400ms infinite ease alternate;
}

@keyframes pulse1 {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1.2);
  }
}
@keyframes pulse2 {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1.5);
  }
}
@keyframes pulse3 {
  from {
    transform: scale(1.2);
  }
  to {
    transform: scale(0.7);
  }
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

.btn-main {
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  width: 250px;
  color: white;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.336);
  border: transparent;
  transition: all 0.5s;
  cursor: pointer;
}
.btn-main--explorer {
  padding: 10px;
  border-radius: 20px;
}
.btn-main--explorer p {
  margin: 0;
  font-size: 1.1rem;
}
.btn-main--order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
}
.btn-main--order p {
  margin: 0;
  font-size: 20px;
}

.btn-main:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
}

.btn-instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: default;
}
.btn-instruction--border {
  width: 320px;
  border: 1px solid transparent;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.192);
  background-color: #f6f6f6;
}
.btn-instruction--flex {
  display: flex;
}
.btn-instruction--animation, .btn-instruction .icon__fonctionnement {
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.disabled {
  display: none;
}

.card {
  margin: 0 auto;
  width: 375px;
  border-radius: 25px;
  box-shadow: 0 0 10px 5px rgba(196, 196, 196, 0.712);
  margin-bottom: 20px;
}
.card a {
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .card {
    width: 500px;
  }
}

.card__img {
  width: 375px;
  height: 187.5px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 25px 25px 0 0;
}
.card__img img {
  object-fit: cover;
  width: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card__img-new {
  position: relative;
  left: 73%;
  top: 7%;
  width: 90px;
  padding: 8px;
  background-color: #99E2D0;
  border-radius: 3px;
}
.card__img-new p {
  text-align: center;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #008766;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .card__img {
    width: 500px;
    height: 250px;
  }
}
@media only screen and (min-width: 993px) {
  .card__img {
    height: 350px;
  }
  .card__img img {
    min-height: 100%;
  }
}

.card__info {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.card__info .card__title {
  margin-left: 15px;
}
.card__info .card__title .card__name {
  margin-bottom: 5px;
}
.card__info .card__title h3, .card__info .card__title p {
  margin: 0;
}
.card__info .card__title h3 {
  font-weight: bold;
  font-size: 18px;
}
.card__info .card__title p {
  font-size: 16px;
}
.card__info .card__icon {
  margin-right: 22.5px;
}

.card__icon {
  position: relative;
}
.card__icon .heart-position {
  position: absolute;
  top: -15px;
  left: -30px;
}
.card__icon .heart-solid {
  visibility: hidden;
  color: #9356DC;
}

.btn-instruction--animation:hover {
  background-color: #f5edff;
}
.btn-instruction--animation:hover .icon__fonctionnement {
  color: #9356DC;
}

.animation-slide--repas1 {
  animation: Slide 0.8s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.animation-slide--repas2 {
  animation: Slide 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}

.animation-slide--repas3 {
  animation: Slide 0.8s;
  animation-delay: 0.7s;
  animation-fill-mode: both;
}

.animation-slide--repas4 {
  animation: Slide 0.8s;
  animation-delay: 0.9s;
  animation-fill-mode: both;
}

@keyframes Slide {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.container-menu--repas {
  cursor: pointer;
}
.container-menu--repas:hover .menu-checked {
  opacity: 1;
  width: 60px;
  min-width: 60px;
}
.container-menu--repas:hover .menu-checked i {
  animation: rotation 0.5s ease-out;
}

@keyframes rotation {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.card__icon:hover .heart-solid {
  visibility: visible;
  animation: couleurHeartActivated 2s;
}
.card__icon:hover .heart-regular {
  visibility: hidden;
  animation: couleurHeartDisabled 0.3s;
}
.card__icon:not(:hover) .heart-regular {
  visibility: visible;
  animation: couleurHeartActivated 1s;
}

@keyframes couleurHeartActivated {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes couleurHeartDisabled {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0;
  }
}
.menus {
  padding-bottom: 50px;
  background-color: #f5f5f5;
}

@media only screen and (min-width: 993px) {
  .menus__container {
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.img__restaurant {
  width: 100%;
}
.img__restaurant img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.menu__restaurant {
  margin-top: -50px;
  background-color: #f5f5f5;
  border-radius: 50px 50px 0 0;
}
.menu__restaurant--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 14px;
  margin: 0 auto;
  width: 375px;
}

.container-menu--restaurant {
  padding: 15px;
  width: 400px;
  margin: 0 auto;
}

.restaurant__title {
  width: 100px;
  height: 25px;
  position: relative;
  z-index: 1;
  color: black;
}
.restaurant__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 40%;
  border-bottom: 3px solid #99E2D0;
}
.restaurant__title h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.container-menu {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-menu--repas {
  height: 65px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.192);
  opacity: 0;
}
.container-menu--repas .menu-title {
  width: 90%;
  min-width: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.container-menu--repas .menu-title h3, .container-menu--repas .menu-title p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-menu--repas .menu-title h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.container-menu--repas .menu-title p {
  font-size: 14px;
}
.container-menu--repas .menu-price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 75px;
  min-width: 25px;
  height: 100%;
  padding-bottom: 10px;
  margin-right: 20px;
}
.container-menu--repas .menu-price p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.container-menu--repas .menu-checked {
  height: 100%;
  width: 0;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  opacity: 0;
  transition: 0.8s;
}
.container-menu--repas .menu-checked .menu-checked--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-color: white;
  color: #99E2D0;
  border-radius: 50%;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 100px 50px;
}

@media only screen and (min-width: 993px) {
  .main__container__instructions {
    flex-direction: row;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
