@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
// font-family: 'Shrikhand', cursive;
// font-family: 'Roboto', sans-serif;

// couleurs
$primary: #9356DC;
$secondary: #FF79DA;
$tertiaire: #99E2D0;

* { 
    box-sizing: border-box; 
}

html{
    font-family: 'Roboto', sans-serif;
}