// HEADER
// _________ ACCUEIL PAGE ACCUEIL ___

.header{
    margin-bottom: 30px;
}

// HEADER LOGO

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    img{
        width: 200px;
        object-fit: cover;
    }
    &--box{
        box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.3);
    }
    &--position__accueil {
        position: relative;
    }
    &--position__menu{
        margin-right: 50px;
    }
}

// HEADER __ SEARCH

.header-search {
    background-color: $backSearch;
    display: flex;
    justify-content: center;

    &--form{
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &--bar{
        width: 200px;
        height: 30px;
        background-color: $backSearch;
        border-color: transparent;
    }
}

.header-search--icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder{
    font-weight:bold;
    color: black;
    font-size: 14px;
}


// HEADER __ INFO

.header-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backHeader;
    &--border{
        padding: 40px 50px;
    }
}

.header__text {
    margin-bottom:20px;
    h1, p{
        margin-top: 0;
        margin-bottom: 10px;
    }
    h1{
        font-size: 24px;
        padding-left: 30px ;
        padding-right: 30px ;
    }
    p {
        font-size: 18px;
    }
}

// HEADER __ FONCTIONNEMENT


.header-instructions {
    @media #{$querriesDesktop-up} {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
}


.box__title {
    margin-left: 30px;
    margin-bottom: 30px;
    padding-top: 50px;
    h2 {
        margin: 0;
    }

    @media #{$querriesDesktopTablette-up} {
         text-align: center;
         margin-left: 0px;
        }
}

.main__container__instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media #{$querriesDesktop-up} {
         flex-direction: row;
         justify-content: space-around;
         gap: 30px;
     }

}

.num__fonctionnement{
    margin-left: -10px;
    margin-right: 20px;
    color: white;
    border-radius: 50%;
    border: 1px solid grey;
    background-color: $primary;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon__fonctionnement{
    margin-right: 20px; 
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instru_fonctionnement{
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
}



// HEADER 
// _______________ PAGE MENU ________ 
// 

.header-accueil--menu{
    display: flex;
    justify-content:center;
    align-items:center;
}

.header-accueil--menu__icon{
    width: 30px;
    height: 30px;
    margin-left: 20px; 
    display: flex;
    justify-content:center;
    align-items:center;
}

