

// animation bouton fonctionnement

.btn-instruction--animation:hover {
    background-color: #f5edff;
    .icon__fonctionnement{
        color: #9356DC;
    }
}

// animation slide page MENU

.animation-slide--repas1{
    animation : Slide 1.3s;
}

.animation-slide--repas2{
    animation : Slide 1.6s; 
}

.animation-slide--repas3{
    animation : Slide 1.9s;
}

@keyframes Slide {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity:1;
    }
}


// animation check slide order 

.animation-rotate--icon{
    animation : rotation 1s
}

@keyframes rotation {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

// animation coeur page d'accueil
// faire une fonction ? ?? 

.card__icon{
    &:hover {
        .heart-solid{
            visibility: visible;
            animation: couleurHeartActivated 1s ease-out ;
        }
        .heart-regular{
            visibility: hidden;
            animation: couleurHeartDisabled 0.5s ease-out ;
        }    
    }
    &:not(:hover){
        .heart-regular{
            visibility: visible;
            animation: couleurHeartActivated 1s ease-out;
        }
        .heart-solid{
            animation: couleurHeartDisabled 1s;
        }
    }
}

@keyframes couleurHeartActivated {
    0% {opacity:0}
    100%{opacity:1}
}

@keyframes couleurHeartDisabled {
    0% {opacity:1}
    25% {opacity:0.25}
    50% {opacity:0.5}
    75% {opacity:0.75}
    100% {opacity:0}
}

