
.btn-main {
    @include backgroundGradient;
    width: 250px;
    color: white;
    @include boxShadow(0.3);
    border: transparent;
    transition: all 0.5s;
    cursor: pointer;
    &--explorer {
        padding: 10px;
        border-radius: 20px;
        p {
            margin: 0;
            font-size: 1.1rem;
        }
    }
    
    &--order {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;
        border-radius: 30px;
        p {
            margin: 0;
            font-size: 20px;
        }
    }
}

.btn-main:hover{
    transform: scale(1.05);
    @include boxShadow(0.7);
}

.btn-instruction {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    cursor: default;
    &--border {
        width: 320px;
        border: 1px solid transparent;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 20px;
        margin-bottom: 25px;
        @include boxShadow(0.3);
        background-color: #f6f6f6;
    }
    &--flex {
        display: flex;
    }
    &--animation, .icon__fonctionnement {
        transition: 0.5s;
        transition-timing-function: ease-in-out;
    }
}

