@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');
// font-family: 'Shrikhand', cursive;
// font-family: 'Roboto', sans-serif;

* {box-sizing: border-box;}
  
html {font-family: "Roboto", sans-serif;}
  
body {margin: 0 auto;}