
.restaurant{

}

.img__restaurant{
    width: 100%;
    img{
        height: 300px;
        width: 100%;
        object-fit: cover;
        position: relative;
        z-index: -1;
    }
}


.menu__restaurant{
    margin-top: -50px;
    background-color: $backHeader;
    border-radius: 50px 50px 0 0;
    &--title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        font-size: 14px;
        margin: 0 auto;
        width: 375px;
    }
}


.container-menu--restaurant{
    padding: 15px;
    width: 400px;
    margin: 0 auto;
}

.restaurant__title{
    width: 100px;
    height: 25px;
    position: relative;
    z-index: 1;
    color: black;
    &::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 15px;
        width: 40%;
        border-bottom: 3px solid $tertiaire;
    }
    h2{
        font-size: 16px;
        font-weight: normal;
        margin: 0;
    }
}

.container-menu{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-menu--repas{
    height: 65px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.192);
    opacity: 0;
    .menu-title{
        width: 90%;
        min-width: 5%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
        h3, p{
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        h3{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        p{
            font-size: 14px;
        }
    }
    .menu-price{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 75px;
        min-width: 25px;
        height: 100%;
        padding-bottom: 10px;
        // margin-left: 10px;
        margin-right: 20px;
        p{
            margin: 0;
            font-weight: bold;
            font-size: 14px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .menu-checked{
        height: 100%;
        width: 0;
        min-width: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $tertiaire;
        opacity: 0;
        transition: 0.8s;
        .menu-checked--icon {
            display: flex;
            justify-content:center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: white;
            color :$tertiaire;
            border-radius: 50%;
        }
    }
}


.order{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 100px 50px;
}

